.custom{
    background: #142c8e url(https://www.paypalobjects.com/marketing/web/shared/qrc-sms/background-swirls.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}